/* greeting app # 17-------------
 body{
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans","sans-serif";
}

div{
   width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  border: 10px;
  justify-content: center; 

}

h1{
  padding: 20px 20px;
  background-color: #ffe9;
  border-radius: 20px;
  color: #fa9191;
  margin: 150px;
  align-items: center;
  justify-content: center; 
}
span{
  color: #eb6383;
} */

/* netFlix series  #22--------------------------------*/
*{
  box-sizing: border-box;
  margin: 0;padding: 0;
  background-color: #d2dbdd;

}

.heading_style{
padding: 30px 0;
text-align: center;
font-family: "Raleway",'sans-serif';
text-transform: uppercase;
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
color: #fff;
font-size: 1.5rem;
margin-bottom: 30px;
background-color: #4f81a2;
}
.cards{
  width: 100%;
  height: auto;

}
.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover{
  box-shadow: 0px 30px 18px -8px;
  transform: scale(1.05,1.05);
}

.cardimg{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card_info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 2px 24px;


}
.ccategory{
  font-family:  "Raleway",'sans-serif';
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #6b5c5c;
  background-color: #fff;

}

.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family:"Raleway",'sans-serif' ;
  background-color: #fff;
  text-transform: capitalize;
  color: red;

}

button{
  padding: 5px 8px;
  font-family:"Raleway",'sans-serif' ;
  text-transform: uppercase;
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
color: #868686;
background-color: #322f2f;
outline: none;
border: 1pxx solid black;
}